body, html {
    margin: 0;
}

.main_container {
    background-color: red;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
       flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
      -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.box {
    width: 33.3333%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home {
    background-color: #5B82E1;
}

#box1 {
    background-color: #5CEBB5;
}

#box2 {
    background-color: #D58CDC;
}

#box3 {
    background-color: #FFD77E;
}
#box4 {
    background-color: #EA626E;
}
#box5 {
    background-color: #5B82E1;
}
#box6 {
    background-color: #5CEBB5;
}

#box7 {
    background-color: #D58CDC;
}

#box8 {
    background-color: #FFD77E;
}

.main_bttn {
    width: fit-content;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

.box p {
    font-family: 'Nunito', sans-serif;
    font-size: 4vmin;
    color: #ffffff;
    margin: 8px 0 16px;
    text-align: center;
    height: 0;
    letter-spacing: .06em;
} 