/*
 *  Personal_Website
 *  Stylesheet - styles.css
 *  
 *  Corey Savage
 */

 /*
  *     HTML5 display definitions
  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/*
 *      Colors
 */

:root {
  --blue: #5B82E1;
  --red: #EA626E;
  --green: #5CEBB5;
  --purple: #D58CDC;
  --orange: #FFD77E;
}


/*
 *      Base 
 */

html {
    font-size: 100%;
    overflow-y: auto-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: .08em;
    color: #ffffff
}

input {
    color: #ffffff;
    background-color: rgba(0,0,0,.8);
    border-width: 1px;
    border-color: rgba(76, 76, 76, 0.3);
    border-style: solid;
}

::-moz-selection { background: rgba(74,74,74,.6); color: #ffffff; text-shadow: none; }
::selection { background: rgba(74,74,74,.6); color: #ffffff; text-shadow: none; }


/*
 *      Links
 */

a, a:visited, a:hover, a:focus { 
    color: #29b6f6;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: underline;
}
header a, header a:visited, header a:hover, header a:focus {
    text-decoration: none;
    color: #ffffff
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/*
 *      Headings
 */

h1 {
    font-size: 28vh;
    /* width: 0; */
    /* height: 0; */
    letter-spacing: .05em;
    bottom: 11%;
    right: 42%;
    color: rgba(255,255,255,.2);
}

.title {
    margin: 0 2vw 0 4vw;

}


/*
 *      Typography
 */

p {color: #ffffff; opacity: 0.9; filter: alpha(opacity=90);}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


.label, label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: .06em;
}

.label {
    font-size: 4vmin;
    margin: 1vh 0 2vh;
    text-align: center;
    text-align: -webkit-center;
    height: 0;
}

label {
    font-size: 18px;
} 

.greeting {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,0,0,.6);
    margin: 0 0 1vh;
    letter-spacing: .06em;
}


/*
 *      Embedded Content
 */

/*
 * Improve image quality when scaled in IE7: h5bp.com/d
 * Remove the gap between images and borders on image containers: h5bp.com/e
 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; background-repeat: no-repeat; width: 100%; height: 100%; float: left; }

/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }


/*
 *      Buttons
 */

.close_bttn {
    position: absolute;
    right: 0;
    margin: 1vw 1vw;
}

.close_bttn:hover {
    cursor: pointer;
}

.close_bttn:hover path {
    fill-opacity: 0.6;
}

.close_bttn:hover polygon {
    fill-opacity: 0.9;
}


/*
 *      Forms
 */


input[type=text], input[type=email], select, textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.4);
    font-size: 16px;
    color: rgba(0,0,0,.8);
}

.short_input {
    width: 40%;
    max-width: 320px;
    min-width: 240px;
}

.long_input, input[type=submit] {
    width: 100%;
    max-width: 800px;
}

textarea {
    height: 20vh;
    resize: none;
}

input:focus, textarea:focus {
    outline-width: 0; 
}

input[type=submit] {
    background-color: var(--blue);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #5072C5;
}

input::-webkit-input-placeholder {
    color: rgba(75,75,75,.4); !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(75,75,75,.4) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(75,75,75,.4) !important;  
}
 
input:-ms-input-placeholder {  
    color: rgba(75,75,75,.4) !important;  
}


/*
 *      Containers
 */

#projects_container, #about_container, #contact_container {
    width: 96%;
    height: 96vh;
    min-height: 580px;
    position: absolute;
    top: 2%;
    left: 2%;
    border: 2px solid rgba(255,255,255,.6);
    box-shadow: 1px 1px 32px 2px rgba(0,0,0,.2);
}

#projects_container {
    background-color: var(--purple);
}

#about_container {
    background-color: var(--red);
}

#contact_container {
    background-color: var(--orange);
}

.container_flexbox{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container_right {
    flex-basis: 60%;
}

.container_data {
    flex-basis: 60%;
    margin: 4vh 4vw 4vh 2vw;

}

.container_icon {
    height: 38px;
    flex-basis: 15%;
    flex-shrink: 1;
}

.container_icon svg {
    width: 100%;
    height: 100%;
}


/*
 *  Main page
 */

#main_container {
    background-color: red;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.box {
    width: 33%;
    height: 33.3333vh;
    min-height: 200px;
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

#box0, #box5 {
    background-color: var(--blue);
}

#box0 button:focus {
   outline-color: var(--blue);
}

#box1, #box6 {
    background-color: var(--green);
}

#box2, #box7 {
    background-color: var(--purple);
}

#box2 button:focus {
   outline-color: var(--purple);
}

#box3, #box8 {
    background-color: var(--orange);
}

#box8 button:focus {
   outline-color: var(--orange);
}

#box4 {
    background-color: var(--red);
}

#box4 button:focus {
   outline-color: var(--red);
}

.main_bttn {
    width: fit-content;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

#greeting_welcome, #greeting_im {
    font-size: 4vmin;
    font-weight: 300;
    align-self: flex-start;
}

#greeting_welcome {
    padding-left: 2vw;
}

#greeting_im {
    padding-left: 4vw;

}

#greeting_name{
    padding-top: 1vh;
    font-size: 4vw;
}

.weight1 {
    font-weight: 100;
}

.weight3 {
    font-weight: 300;
}

.weight4 {
    font-weight: 400;
}

.main_icon {
    min-height: 80px;
    min-width: 100px
}

/*
 *      About
 */

.about_bio {
    text-align: center;
}

.change_name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about_data_title {
    text-align: left;
    flex-basis: 100%;
}

.title svg {
    min-height: 540px;
}


/*
 *      Project
 */

#project_container_right {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#project_thumbnail_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 486px;
    align-self: center;
}

.project_thumbnail {
    width: 128px;
    height: 72px;
    border: 1px solid #eee;
}

#project_showcase {
    width: 100%;
    height: 600px;
}


/*
 *      Responsive Design
 */

@media only screen and (max-width: 1440px) {
     /* start of large tablet styles */


}

@media only screen and (max-width: 898px) {
    
    #greeting_welcome, #greeting_im {
        font-size: 4.4vmin;
    }
    .container_data {
        font-size: 12px;
    }

    #projects_container, #about_container, #contact_container {
        width: 100%;
        height: 100vh;
        min-height: 582px;
        top: 0%;
        left: 0%;
        border: 0px solid rgba(255,255,255,0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .box {
        min-height: 33.333vh;
    }
    
    .title {
        margin: 2vh 0 0;
    }

    .title svg {
        min-height: 540px;
    }

    .container_right {
        flex-basis: 68%;
    }

    label {
        font-size: 16px;
    }
}

@media only screen and (max-width: 640px) {

    #box5, #box6, #box7, .container_left {
        display: none !important; visibility: hidden;
    }

    .box {
        width: 50%;
    }

    #box2 {
        order: 3;
    }

    #box3 {
        order: 1;
    }

    #box4 {
        order: 2;
    }

    #box8 {
        order: 5;
    }

    #greeting_welcome, #greeting_im {
        font-size: 5vmin;
    }

    #greeting_name {
        font-size: 6vmin;
    }
    
    .container_right {
        flex-basis: 92%;
    }

     input:submit {
        width: 50%;
     }


}

@media only screen and (max-width: 300px) {

    #greeting_welcome, #greeting_im {
        font-size: 24px;
    }
     .container_data {
        font-size: 10px;
     }

}


/*
 *      Print Styles
 */

/*Inlined to avoid required HTTP connection: h5bp.com/r*/
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  /* a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  
  canvas { display: none; }
}


/*
 *      Helper Classes
 */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
